/*
  120, 0, 0
  193, 18, 31
  253, 240, 213
  0, 48, 73
  102, 155, 188  
*/
* {
  margin: 0;
  color: rgb(139, 106, 42);
}
header {
  background-color: rgb(193, 18, 31);
}
h1 {
  text-align: center;
  padding: 1rem;
  color: rgb(253, 240, 213);
}
ul {
  display: flex;
  list-style-type: none;
  justify-content: center;
  padding-left: 0px;
  padding-bottom: 1.5rem;
}
a {
  text-decoration: none;
  color: rgb(253, 240, 213);
}
li a {
  border: 2px solid rgb(253, 240, 213);
  margin: 0px 0.5rem 0px 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 7px;
}
section {
  width: 60%;
  margin: 2rem auto;
  padding: 2rem 1rem 2rem 1rem;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.185);
  border-radius: 10px;
}
h2 {
  padding-bottom: 1rem;
  margin: 1rem 0rem 1rem 0rem;
  border-bottom: 3px solid rgb(193, 18, 31);
  color: rgb(0, 92, 141);
}
form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
input[type="text"] {
  width: 90%;
  border-radius: 7px;
  border: 1px solid rgba(0, 0, 0, 0.185);
}
button {
  border: 2px solid rgb(193, 18, 31);
  background-color: rgb(193, 18, 31);
  color: rgb(253, 240, 213);
  padding: 0.5rem 1rem;
  border-radius: 7px;
}
h2 + * {
  font-size: 1.2em;
}
.ol li {
  margin: 0.5em;
  border: 0;
}
blockquote {
  border-left: 4px solid rgb(193, 18, 31);
  margin-bottom: 1rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  font-size: 1.2em;
}
p {
  margin-bottom: 1rem;
  font-size: 1.2rem;
}
section h3,
section p {
  padding: 0.5rem;
}
footer {
  background-color: rgb(102, 155, 188);
  text-align: center;
  margin-top: 2rem;
  padding: 1rem 0px;
}
footer p {
  color: rgb(253, 240, 213);
}
li:hover a,
button:hover {
  transition-duration: 1s;
  background-color: rgb(253, 240, 213);
  color: rgb(193, 18, 31);
}
