<!-- C:\Users\ahmed\Git\WebDev\Express.js\templates.js -->
<!-- above file uses this flie -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
  </head>
  <body>
    <h1>This is the home page</h1>
    <h3><%= 1+2%></h3>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolore laborum
      porro molestias voluptatem voluptatibus veniam, mollitia non magni
      laudantium soluta et quis delectus dicta velit dolores eos maxime
      quibusdam quasi. Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Quam, facere quod! Ullam aspernatur sunt nihil iure nobis ipsam quibusdam
      ratione eveniet temporibus labore dolorum quae, deleniti iste eum?
      Deleniti, quas! Hic non ipsum, eum ratione quo maxime dolore voluptates
      sint enim accusamus sed, quia, molestiae corporis. Voluptates consequatur
      atque quod illum accusamus eum error distinctio. Molestias totam possimus
      incidunt minima? Illo molestias, hic ducimus beatae odit veniam
      perspiciatis similique natus! Sequi neque quam quod illum facere quos,
      vitae cum veritatis numquam repellat inventore, voluptatem deserunt
      ratione nostrum eum iusto eligendi? A, rerum! Ad, obcaecati iusto corporis
      quisquam ducimus laboriosam perferendis provident et, vero architecto
      incidunt voluptatum natus fugiat. Quaerat sapiente quidem corrupti,
      laboriosam neque nulla quos vero modi optio. Aperiam. Dolores deserunt
      optio, animi ullam quidem veritatis laborum magnam reprehenderit hic
      recusandae asperiores magni aperiam, dicta ad eos? Beatae nam voluptate
      pariatur iure totam impedit accusamus ipsum fugiat culpa sed!
    </p>
    <button>click me</button>
  </body>
</html>
