<!-- C:\Users\ahmed\Git\WebDev\Express.js\templates.js -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Roll Dice</title>
  </head>
  <body>
    <h1>dice gave value: <%=dice%></h1>
    <!-- for conditions -->
    <% if(dice==6) { %>
    <h1>Nice roll again</h1>
    <% } %>
  </body>
</html>
