<% layout("/layouts/boilerplate.ejs") %>
<body>
  <h1>All Listings</h1>
  <!-- <form action="/listings/new" method="get">
    <Button>Create New Listing</Button>
  </form> -->

  <div class="row row-cols-lg-3 row-cols-md-3 row-cols-sm-3">
    <% for( let list of allListings ) { %>
    <a href="/listings/<%= list._id %>" class="listings-links">
      <div class="card col">
        <img
          src="<%= list.image %>"
          class="card-img-top"
          alt="..."
          style="height: 20rem"
        />
        <div class="card-img-overlay"></div>
        <div class="card-body">
          <p class="card-text">
            <b><%= list.title %><br /></b>
            <strong>Price:</strong> $<%= list.price.toLocaleString("en-IN") %> /
            night<br />
          </p>
        </div>
      </div>
    </a>
    <% } %>
  </div>
</body>
