<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WanderLust</title>
  </head>
  <body>
    <h3>Create a new Listing</h3>
    <form method="post" action="/listings">
      <input
        type="text"
        name="listing[title]"
        id=""
        placeholder="Enter title"
      />
      <br />
      <textarea
        type="text"
        name="listing[description]"
        id=""
        placeholder="Enter description"
      >
      </textarea>
      <br />
      <input
        type="text"
        name="listing[image]"
        id=""
        placeholder="Enter image"
      />
      <br />
      <input
        type="number"
        name="listing[price]"
        id=""
        placeholder="Enter price"
      />
      <br />
      <input
        type="text"
        name="listing[location]"
        id=""
        placeholder="Enter location"
      />
      <br />
      <input
        type="text"
        name="listing[country]"
        id=""
        placeholder="Enter country"
      />
      <br />
      <button>Add</button>
    </form>
  </body>
</html>
